body{
	font-size: 16px;
	font-weight: 300;
}
.keret{
	max-width: 90%;
	margin: 0 auto;
}

.tartalom-kozepre{
	display: flex;
	justify-content: center;
}

.oszlop-6 {flex-basis: 50%}
.oszlop-tele {flex-basis: 100%}

.szoveg-kozep{
	text-align: center;
}

.navigacio-keret {
	display: inline;
}


.hatter{
	background-color: lightblue;
}

.margo-fent-1{
	margin-top: 20px;
}

a{
	text-decoration: none;
}

hr{
	width: 50%;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0,75), rgba(0,0,0,0));

}

.kerek-kep{
	width: 30%;
	border-radius: 50%;

}

.munkak-kep{
	width: 50%;
	border-radius: 10%;
}

p{
	font-size: 30px;
	text-align: center;
	font-style: Serif;
}

header{
text-align: center;
text-decoration-line: underline;
 text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
 font-size: 20px;
}

.kozep{
   width: 40%;
   display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
